body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url('/src/assets/joystickpattern.jpg');
  /* background-size: 100vh; */
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: repeat;

}

code {
  font-family: 'Merriweather Sans', sans-serif;
}

select {
  font-family: 'Merriweather Sans', sans-serif;
}